/* common css */

.noto-serif {
    font-family: "Noto Serif", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-color {
    color: #E95A08;
}

.gray-text {
    color: gray;
    margin-bottom: 30px;
}

.mar-top {
    margin-top: 70px;
}





/* header section */

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    gap: 10px;

}

body {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

li {
    list-style-type: none;
}

li>a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.visited {
    color: gray;
}

.header-h1 {
    font-size: 50px;
}

/* plants section */
.plants-h1 {
    font-size: 40px;
}

.plants-section {
    text-align: center;
    /* border: 2px solid red; */

}

.plants-p {
    font-weight: bolder;
    font-size: 15px;

}

.plants-h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.plants-btn {
    background-color: #E95A08;
    color: white;
    width: 75%;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin-top: 10px;

}

.card-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    
    width: 100%;
    margin: 0;
    padding: 0; */
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 0 150px;


}


/* plants-lover-section */

.plants-lover {
    gap: 150px;
    margin-top: 150px;
}

.plants-lover-img {
    width: 40%;
    height: 500px;
}

.plants-lover-ul {
    margin: 30px;
}

.plants-lover-li {
    margin-top: 15px;
    list-style-type: disc;

}

/* latest deals section */

.deals {
    margin: 0;
    /* border: 2px solid red; */
    width: 100%;
    padding:0 150px;
}
.hello{
    /* border: 2px solid blue; */
    width: 100%;
    
}
.deals-img-1-1{
    background-image:linear-gradient(rgba(0,0,0, 0.6)), url("../deal-ana.png");
    /* filter: brightness(60%); */
    border-radius:20px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    width:80%;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  
}
.deals-img-1-2{
    background-image:linear-gradient(rgba(0,0,0, 0.6)), url("../assets/deal-bloom.png");
    /* filter: brightness(60%); */
    border-radius:20px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
    background-size: 100% 100%;
    height: 200px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  
}
.deals-img-1-3{
    background-image:linear-gradient(rgba(0,0,0, 0.6)), url("../assets/deal-zabo.png");
    /* filter: brightness(60%); */
    border-radius:20px;
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  
}
.underline{
    text-decoration: underline;
}



/* responsive for mobile device */
@media screen and (min-width: 576px) and (max-width: 640px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .display-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

    }

    .logo-img {
        width: 100px;
    }

    .hidden {
        visibility: hidden;
    }

    .cart {
        display: block;
    }

    .flex-col-reverse {
        flex-direction: column-reverse;
    }

    .header-img {
        width: 100%;
        margin: 20px 0px;
    }

    .header-h1 {
        font-size: 30px;
    }

    .header-text {
        width: 100%;
        padding: 0 15px;
        /* border: 2px solid red; */
    }

    /* plants-section */
    .plants-section {
        width: 100%;
        padding: 0 15px;
        
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        padding: 0 10px;
    }

    .plants-h1 {
        font-size: 30px;
    }

    .plants-h2 {
        font-size: 20px;
    }


    /* plants-lover-section */
    .plants-lover-li {
        margin-top: 10px;

    }

    .flex-col-reversenot {
        flex-direction: column;
    }

    .plants-lover {
        gap: 20px;
    }

    .plants-lover-img {
        width: 100%;
        height: 500px;
        padding: 0 20px;
    }

    /* latest deals section */
    .flex-dir {
        flex-direction: column;
    }
    .deals-img-1-1,.deals-img-1-2,.deals-img-1-3{
        width:100%;
        text-align: center;
    }
    .deals-img-1-3{
        height: 200px;
    }




}